[bar/i3wmthemer_bar]
monitor = ${env:MONITOR:DVI-D-0}
width = 100%
height = 30
# 圆角半径
radius = 0
fixed-center = true
#bottom = true

#override-redirect = true
#offset-x =0
#offset-y =0

#background = #D93d3c3b
#foreground = #b6a49b
background = #073642
foreground = #b6a49b
#foreground = #93a1a1

line-size = 3
line-color =

border-size = 0
border-color =

padding-left = 0
padding-right = 2

module-margin-left = 2
module-margin-right = 3

font-0 = "Source Code Pro Semibold:size=11;1"
font-1 = "Font Awesome 5 Free:style=Solid:size=11;1"
font-2 = "Font Awesome 5 Brands:size=11;1"

modules-left = i3
modules-center = xwindow
modules-right = xkeyboard1 volume updates-arch date memory cpu eth powermenu

tray-position =
;tray-padding =

cursor-click = pointer
cursor-scroll = ns-resize

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

label-mode-padding = 2
# 前景色
label-mode-foreground = #EF2929
# 背景色
label-mode-background = #073642

label-focused = %index%
label-focused-background = #4E524F
label-focused-foreground = #8AE234
label-focused-padding = 2
label-focused-underline = #8AE234

label-unfocused = %index%
label-unfocused-background = #7E807E
label-unfocused-foreground = #272827
label-unfocused-padding = 2

label-visible = %index%
label-visible-background = #7E807E
label-visible-foreground = #272827
label-visible-padding = 2

label-urgent = %index%
label-urgent-background = #BA2922
label-urgent-padding = 2

[module/volume]
type = internal/volume
format-volume =   <ramp-volume>  <label-volume>
format-muted =    0%
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 =  

[module/wlan]
type = internal/network
interface = net1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-foreground = #272827
format-connected-background = #7E807E
format-connected-padding = 2
label-connected = %essid%

format-disconnected =

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = #272827

[module/eth]
type = internal/network
interface = enp3s0
interval = 3.0

format-connected-padding = 2
format-connected-foreground = #272827
format-connected-background = #7E807E
#format-connected-prefix = " "
format-connected-prefix = " "
format-connected-prefix-foreground = #272827
label-connected = %local_ip%
#label-connected = %downspeed:9%
format-disconnected =

[module/date]
type = internal/date
interval = 60
date = %b %d %a
time = %l:%M %p
label =  %date%   %time%
;label =  %time%
format-padding = 1

[module/powermenu]
type = custom/menu
exec = echo ""
expand-right = true

format-spacing = 1

label-open = 
#label-open-foreground = #657b83
label-open-foreground = #EF2929
label-close =  cancel
label-close-foreground = #BA2922
label-separator = |
label-separator-foreground = #BA2922

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2
menu-0-2 = log off
menu-0-2-exec = menu-open-3

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = reboot

menu-2-0 = power off
menu-2-0-foreground = #EF2929
menu-2-0-exec = poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

menu-3-0 = log off
menu-3-0-exec = pkill -KILL -u $USER
menu-3-1 = cancel
menu-3-1-exec = menu-open-0

[module/updates-arch]
type = custom/script
exec = /home/jack/.config/polybar/scripts/updates-arch.sh
interval = 600

[module/xkeyboard1]
type = internal/xkeyboard

#format = <label-layout> <label-indicator>
format = <label-layout>
format-spacing = 0

label-layout = %layout%
label-layout-padding = 2
label-layout-background = #739fcf
#label-layout-background = #bc99ed
label-layout-foreground = #000

label-indicator-padding = 2
label-indicator-background = #8139e8

[module/cpu]
type = internal/cpu

; Seconds to sleep between updates
; Default: 1
interval = 3.0
; Available tags:
;   <label> (default)
;   <bar-load>
;   <ramp-load>
;   <ramp-coreload>
format = <label><ramp-load>

; Available tokens:
;   %percentage% (default) - total cpu load averaged over all cores
;   %percentage-sum% - Cumulative load on all cores
;   %percentage-cores% - load percentage for each core
;   %percentage-core[1-9]% - load percentage for specific core
label = CPU %percentage%%
;label-font = 3

; Spacing between individual per-core ramps
ramp-coreload-spacing = 1
ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
ramp-coreload-7 = █

; ramps for ramp-load
ramp-load-0 = ▁
ramp-load-1 = ▂
ramp-load-2 = ▃
ramp-load-3 = ▄
ramp-load-4 = ▅
ramp-load-5 = ▆
ramp-load-6 = ▇
ramp-load-7 = █
; colors for each ramp
ramp-load-0-foreground = #aaff77
ramp-load-1-foreground = #aaff77
ramp-load-2-foreground = #aaff77
ramp-load-3-foreground = #aaff77
ramp-load-4-foreground = #fba922
ramp-load-5-foreground = #fba922
ramp-load-6-foreground = #ff5555
ramp-load-7-foreground = #ff5555

[module/memory]
type = internal/memory

; Seconds to sleep between updates
; Default: 1
interval = 3.0
; Available tags:
;   <label> (default)
;   <bar-used>
;   <bar-free>
;   <ramp-used>
;   <ramp-free>
;   <bar-swap-used>
;   <bar-swap-free>
;   <ramp-swap-used>
;   <ramp-swap-free>
format = <label><ramp-used>

; Available tokens:
;   %percentage_used% (default)
;   %percentage_free%
;   %gb_used%
;   %gb_free%
;   %gb_total%
;   %mb_used%
;   %mb_free%
;   %mb_total%
;   %percentage_swap_used%
;   %percentage_swap_free%
;   %mb_swap_total%
;   %mb_swap_free%
;   %mb_swap_used%
;   %gb_swap_total%
;   %gb_swap_free%
;   %gb_swap_used%

label = RAM %percentage_used%%
;label-font = 3

; Only applies if <bar-used> is used
bar-used-indicator =
bar-used-width = 50
bar-used-foreground-0 = #55aa55
bar-used-foreground-1 = #557755
bar-used-foreground-2 = #f5a70a
bar-used-foreground-3 = #ff5555
bar-used-fill = ▐
bar-used-empty = ▐
bar-used-empty-foreground = #444444

; Only applies if <ramp-used> is used
ramp-used-0 = ▁
ramp-used-1 = ▂
ramp-used-2 = ▃
ramp-used-3 = ▄
ramp-used-4 = ▅
ramp-used-5 = ▆
ramp-used-6 = ▇
ramp-used-7 = █
ramp-used-0-foreground = #aaff77
ramp-used-1-foreground = #aaff77
ramp-used-2-foreground = #aaff77
ramp-used-3-foreground = #aaff77
ramp-used-4-foreground = #fba922
ramp-used-5-foreground = #fba922
ramp-used-6-foreground = #ff5555
ramp-used-7-foreground = #ff5555

; Only applies if <ramp-free> is used
ramp-free-0 = ▁
ramp-free-1 = ▂
ramp-free-2 = ▃
ramp-free-3 = ▄
ramp-free-4 = ▅
ramp-free-5 = ▆
ramp-free-6 = ▇
ramp-free-7 = █

[module/battery]
type = internal/battery
full-at = 98

format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
format-full = %{F#666}%{F#ccfafafa} <label-full>
#label-charging-font = 3
#label-discharing-font = 3

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
; low power alert
ramp-capacity-0-foreground = #ff5555

; it will display over the three pattern when charing
; at a framerate 750
; and each has a foreground color
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-2-foreground = #aaff77
animation-charging-1-foreground = #fba922
animation-charging-0-foreground = #ff5555
animation-charging-framerate = 750

[module/xwindow]
type = internal/xwindow
#label-maxlen = 15
#label-foreground = #bbb
label-foreground = #839496

[settings]
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0
